@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to match prediction system</h1>
    <br /><br />
    You can check team statistics or directly predict a match using the links in the upper bar
</div>