@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <table id="teamstrengths" class="display" style="width:100%">
        <thead>
            <th>Team</th>
            <th>Average goals when home</th>
            <th>Average goals when away </th>
            <th>Average goals conceeded when home </th>
            <th>Average goals conceeded when away </th>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js" defer="defer"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

<script type='text/javascript'>
    $(document).ready(function () {
        $('#teamstrengths').DataTable({
            "proccessing": true,
            "serverSide": true,
            "ajax": {
                url: "@Url.Action("GetTeamStregths", "Home")",
                type: 'POST'
            },
            "language": {
                "search": "",
                "searchPlaceholder": "Search..."
            },
            "columns": [
                { "data": "team" },
                { "data": "homeGoalsAvg" },
                { "data": "awayGoalsAvg" },
                { "data": "homeGoalsConceededAvg" },
                { "data": "awayGoalsConceededAvg" },
            ]
        });
    });
</script>