@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Teams strenght</h1>

    <table id="divisionavg" class="display" style="width:100%">
        <thead>
            <th>Division</th>
            <th>Home Goal Average</th>
            <th>Away Goal Average</th>
            <th>Total Goal Average </th>
        </thead>
        <tbody></tbody>
    </table>

    <br /><br />

    <table id="teamsgoalstats" class="display" style="width:100%">
        <thead>
            <th>Division</th>
            <th>Team</th>
            <th>AVG home Goals</th>
            <th>Weighted AVG Home Goals</th>
            <th>AVG away Goals</th>
            <th>Weighted AVG away Goals</th>
            <th>AVG Home Conceeded Goals</th>
            <th>Weighted AVG Home Conceeded Goals</th>
            <th>AVG away Conceeded Goals</th>
            <th>Weighted AVG away Conceeded Goals</th>
        </thead>
        <tbody></tbody>
    </table>

    <br /><br />

    <table id="teamstrength" class="display" style="width:100%">
        <thead>
        <th>Division</th>
        <th>Team</th>
        <th>Home Strength</th>
        <th>Away Strength</th>
        <th>W Home Goals</th>
        <th>W Away Goals</th>
        <th>W Home Conceded Goals</th>
        <th>W Away Conceded Goals</th>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.js" defer="defer"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

<script type='text/javascript'>
    $(document).ready(function () {
        $('#teamsgoalstats').DataTable({
            "proccessing": true,
            "serverSide": true,
            "ajax": {
                url: "@Url.Action("GetTeamStregths", "Home")",
                type: 'POST'
            },
            "language": {
                "search": "",
                "searchPlaceholder": "Search..."
            },
            "columns": [
                { "data": "div" },
                { "data": "team" },
                { "data": "homeGoalsAvg" },
                { "data": "homeGoalAvgWeighted" },
                { "data": "awayGoalsAvg" },
                { "data": "awayGoalAvgWeighted" },
                { "data": "homeGoalsConceededAvg" },
                { "data": "homeGoalsConceededAvgWeighted" },
                { "data": "awayGoalsConceededAvg" },
                { "data": "awayGoalsConceededAvgWeighted" },
            ]
        });

        $('#teamstrength').DataTable({
            "proccessing": true,
            "serverSide": true,
            "ajax": {
                url: "@Url.Action("GetTeamStregths", "Home")",
                type: 'POST'
            },
            "language": {
                "search": "",
                "searchPlaceholder": "Search..."
            },
            "columns": [
                { "data": "div" },
                { "data": "team" },
                { "data": "homeStrenght" },
                { "data": "awayStrength" },
                { "data": "homeGoalAvgWeighted" },
                { "data": "awayGoalAvgWeighted" },
                { "data": "homeGoalsConceededAvgWeighted" },
                { "data": "awayGoalsConceededAvgWeighted" },
            ]
        });

        $('#divisionavg').DataTable({
            "proccessing": true,
            "serverSide": true,
            "ajax": {
                url: "@Url.Action("GetDivisionGoalAvg", "Home")",
                type: 'POST'
            },
            "language": {
                "search": "",
                "searchPlaceholder": "Search..."
            },
            "columns": [
                { "data": "div" },
                { "data": "leagueHomeGoalsAvg" },
                { "data": "leagueAwayGoalsAvg" },
                { "data": "leagueTotalGoalsAvg" },
            ]
        });

    });
</script>